{%  extends 'shop/basic.html'%}

{% block title %} Title of Checkout{% endblock %}
{% block body %}
<div class="container">
  <div class="py-3 text-center">
    <img class="d-block mx-auto mb-2" src="https://pluspng.com/img-png/amazon-logo-vector-png-amazon-logo-vector-512.png" alt="" width="72" height="72">
    <h2>Checkout form</h2>
    <p class="lead">Check your item and fill your details for placing order...</p>
  </div>

  <div class="row">
    <div class="col-md-4 order-md-2 mb-4">
      <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-muted">Your cart</span>
        <span class="badge badge-secondary badge-pill" id='totalitems' >default</span>
      </h4>

      <ul class="list-group mb-3" id="items">
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">Product name</h6>
            <small class="text-muted">Price</small>
          </div>
          <span class="text-muted"><strong>Quantity</strong></span>
        </li>
      </ul>

      <form class="card p-2">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Promo code">
          <div class="input-group-append">
            <button type="submit" class="btn btn-secondary">Redeem</button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-8 order-md-1">
      <h4 class="mb-3">Billing details...</h4>

      <form class="needs-validation" action="/shop/checkout/" method="post" novalidate>{% csrf_token%}
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="firstname">First name</label>
            <input type="text" class="form-control" id="firstname" name="firstname" placeholder="" value="" required>
            <div class="invalid-feedback">
              Valid first name is required.
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="lastname">Last name</label>
            <input type="text" class="form-control" id="lastname" name="lastname" placeholder="" value="" required>
            <div class="invalid-feedback">
              Valid last name is required.
            </div>
          </div>
        </div>

        <div class="mb-3">
          <label for="username">Username</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">@</span>
            </div>
            <input type="text" class="form-control" id="username" name="username" placeholder="Username" required>
            <div class="invalid-feedback" style="width: 100%;">
              Your username is required.
            </div>
          </div>
        </div>

        <div class="mb-3">
          <label for="email">Email <span class="text-muted">(Optional)</span></label>
          <input type="email" class="form-control" id="email" name="email" placeholder="you@example.com">
          <div class="invalid-feedback">
            Please enter a valid email address for shipping updates.
          </div>
        </div>
        <div class="row">
        <div class="col-md-5 mb-3">
            <label for="contact">Contact no.</label>
            <input type="tel" class="form-control" name ="contact" id="contact" placeholder="9876543210" required>
        </div>
        <div class="col-md-5 mb-3">
            <label for="contact2">Other Contact no.</label>
            <input type="tel" class="form-control" name ="contact2" id="contact2" placeholder="9876543210(Optional)">
        </div>
        </div>
        <div class="mb-3">
          <label for="add1">Address</label>
          <input type="text" class="form-control" id="add1" name="add1" placeholder="1234 Main St" required>
          <div class="invalid-feedback">
            Please enter your shipping address.
          </div>
        </div>

        <div class="mb-3">
          <label for="add2">Address 2 <span class="text-muted">(Optional)</span></label>
          <input type="text" class="form-control" id="add2" name="add2" placeholder="Apartment or suite">
        </div>

        <div class="row">
          <div class="col-md-5 mb-3">
            <label for="country">Country</label>
            <select class="custom-select d-block w-100" id="country" name="country" required>
              <option value="">Choose...</option>
              <option>India</option>
              <option>Bangladesh</option>
              <option>Nepal</option>
              <option>Bhutan</option>
              <option>SriLanka</option>
            </select>
            <div class="invalid-feedback">
              Please select a valid country.
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <label for="state">State</label>
            <select class="custom-select d-block w-100" id="state" name="state" required>
              <option value="">Choose...</option>
              <option>UP</option>
              <option>AP</option>
              <option>WB</option>
              <option>TN</option>
              <option>DL</option>
              <option>MP</option>
              <option>J&K</option>
              <option>Bhr</option>
            </select>
            <div class="invalid-feedback">
              Please provide a valid state.
            </div>
          </div>
          <div class="col-md-3 mb-3">
            <label for="zip_code">Zip</label>
            <input type="text" class="form-control" id="zip_code" name="zip_code" placeholder="" required>
            <div class="invalid-feedback">
              Zip code required.
            </div>
          </div>
        </div>
        <hr class="mb-4">
        <input type="hidden" name="itemsJson" id="itemsJson">
        <input type="hidden" name="total" id="total">
        <button class="btn btn-primary btn-lg btn-block" type="submit">Place Order</button>
      </form>
    </div>
  </div>

  <footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">&copy; 2017-2020 Company Name</p>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="#">Privacy</a></li>
      <li class="list-inline-item"><a href="#">Terms</a></li>
      <li class="list-inline-item"><a href="#">Support</a></li>
    </ul>
  </footer>
</div>



{% endblock %}


{% block js%}
<script>
//checkout.html
//find out the cart from localStorage....
    if (localStorage.getItem('cart')==null){
    var cart = {};
    }else{
    cart = JSON.parse(localStorage.getItem('cart'));
    updatecart(cart);
    }
function updatecart(cart){
      sum=0;
      for (var item in cart){
        sum= sum+cart[item][0];
       }
      //console.log(cart);
      localStorage.setItem('cart',JSON.stringify(cart));
      document.getElementById('cart').innerHTML = sum;
      document.getElementById('totalitems').innerHTML = sum;
      updatePopover(cart);
    }
// add popover to cart
$('#popcart').popover();
updatePopover(cart);
function updatePopover(cart){
      popStr = localStorage.getItem('cartcontent');
      //console.log(popStr);
      document.getElementById("popcart").setAttribute('data-content',popStr);
      $('#popcart').popover('show');
         }  

function clearCart() {
    cart = JSON.parse(localStorage.getItem('cart'));
    localStorage.clear();
    cart = {};
    popStr='<strong>Cart is Empty</strong><br>Shop now...';
    localStorage.setItem("cartcontent",popStr);
    updatecart(cart);
    updatePopover(cart);
    }
// js for showing products
console.log(cart);
if ($.isEmptyObject(cart)){

  mystr= `<li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-3">
                Your cart is empty, Please buy something...
            </h6>
           
        </li>`;

  $('#items').append(mystr);
}else{
    var sum=0
    for (item in cart){
      let name = cart[item][1];
      let qty = cart[item][0];
      let price = cart[item][2];
      sum=sum+parseInt(price,10);
      mystr =`<li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">
                ${name}
            </h6>
            <small class="text-muted">
              Qty: ${qty}
            </small>
          </div>
          <span class="text-muted">
               ₹${price}
          </span>
        </li>`;

        $('#items').append(mystr);

    }
     end=`<li class="list-group-item d-flex justify-content-between">
          <span>Total (INR)</span>
          <strong>₹${sum}</strong>
        </li>`;
     $('#items').append(end);
}
$('#itemsJson').val(JSON.stringify(cart));

  </script>
  {% endblock%}